:root {
  --bs-body-font-family: 'Kantumruy Pro', sans-serif;
  --font-primary: "Kantumruy Pro", sans-serif;
  --main-color: #1b4a67;
  --secondary-color: #f1f8ff;
    --brand-color: #2F665C;
  --hero-gradient: linear-gradient(50deg, rgb(0, 63, 99) 0%, rgb(8, 103, 160) 20%, rgb(41, 193, 182) 80%, rgb(54, 199, 177) 100%);
  --new-gradient: linear-gradient(180deg,rgba(27, 74, 103, 1) 4%, rgba(49, 197, 179, 1) 69%);
  --gray-bg: #f3f5fd;
}

* {
    font-family: var(--font-primary);
}  


/* Login web page*/

body {
        background-color: var(--main-color);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .login-card {
        width: 100%;
        max-width: 400px;
      }

      .forgot-text {
        cursor: pointer;
      }