{% extends "base.html" %} {% block content %} {% load static %}
<div class="web-hero-container-about">
  <div class="container web-container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="web-txt-hero-contain-about">
          <div>
            <h1>Dr. Felipe Nieto</h1>
            <p>
              Bariatric Surgery and Metabolic Diseases. <br />
              <span>PROFESSIONAL LICENSE: 9155000</span> <br />
              <span>SPECIALTY LICENSE: 13203836</span> <br />
            </p>
            <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active web-btn-faq"
                  id="about-tab"
                  data-toggle="tab"
                  data-target="#about"
                  href="#about"
                  role="tab"
                  aria-controls="about"
                  aria-selected="true"
                  >ABOUT US</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link web-btn-faq"
                  id="about-tab1"
                  data-toggle="tab"
                  href="#about1"
                  role="tab"
                  aria-controls="about1"
                  aria-selected="false"
                  >PROFESSIONAL STUDIES</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link web-btn-faq"
                  id="about-tab2"
                  data-toggle="tab"
                  href="#about2"
                  role="tab"
                  aria-controls="about2"
                  aria-selected="false"
                  >CERTIFICATIONS</a
                >
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="about"
                role="tabpanel"
                aria-labelledby="about-tab"
              >
                ▪ General Surgeon and Advanced Laparoscopy by the Universidad
                Autónoma de México with Certification by the Consejo Mexicano de
                Cirugía General. <br />
                <br />
                ▪ High Specialty in Bariatric and Metabolic Surgery by the
                Universidad Autónoma de Guadalajara. <br />
                <br />
                ▪ High Specialty in Bariatric Surgery by the Tecnológico de
                Monterrey.
              </div>
              <div
                class="tab-pane fade"
                id="about1"
                role="tabpanel"
                aria-labelledby="about-tab1"
              >
                ▪ Medicina General Universidad Autónoma de San Luis Potosí y
                Autónoma de Zacatecas <br /><br />
                ▪ Cirugía General y Laparoscopia avanzada Universidad Autónoma
                de México<br /><br />
                ▪ Alta especialidad en Cirugía Bariátrica y de Enfermedades
                Metabólicas Universidad Autónoma de Guadalajara <br /><br />
                ▪ Diplomado avanzado de Cirugía Bariátrica Tecnológico de
                Monterrey <br /><br />
                ▪ Cirugía Bariátrica y Metabólica por el Colegio Mexicano de
                Baja California
              </div>
              <div
                class="tab-pane fade"
                id="about2"
                role="tabpanel"
                aria-labelledby="about-tab2"
              >
                ▪ Colegio Mexicano de Baja California <br /><br />
                ▪ Colegio Mexicano de Cirugía para la Obesidad y Enfermedades
                Metabólicas <br />
                <a
                  href="http://www.cmcgac.org.mx/cgi-bin/DirectorioMedicos"
                  style="color: white"
                  ><i class="fas fa-long-arrow-alt-right fa-xs"></i>
                  http://www.cmcgac.org.mx/cgi-bin/DirectorioMedicos</a
                >
                <br /><br />
                ▪ Consejo Mexicano de Cirugía General <br /><br />
                ▪ Universidad Autónoma de Guadalajara <br /><br />
                ▪ Universidad Autónoma de México <br /><br />
                ▪ Tecnológico de Monterrey <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="">
          <div
            class="web-img-hero-about"
            style="
              background-image: url('{% static 'website/img/drnieto.png' %}');
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="team" class="container-fluid">
  <div class="container web-container web-mb-80">
    <div class="row">
      <div class="col-12 web-txt-left mb-3 web-mt-80">
        <h1>Our team of experts</h1>
        <p>
          Every doctor at your service is highly qualified to provide the best
          care possible.
        </p>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="web-cont-img-team">
          <img
            class="web-img-team"
            src="{% static 'website/img/jane.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center">
        <div class="web-cont-img-team">
          <h4>Dra. Nilda Medina</h4>
          <p>Bachelor of Psychology.</p>
          <h4>Professional License: 11534166</h4>

          <p>
            Master's Degree in Cognitive Behavioral Psychology <br />Diploma in
            Bariatric Psychology <br />
            Universidad Xochicalco Tijuana B.C.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="web-cont-img-team mb-4">
          <img
            class="web-img-team"
            src="{% static 'website/img/adriana.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center">
        <div class="web-cont-img-team">
          <h4>Dra. Adriana Ortíz</h4>
          <p>Internal Medicine and Endocrinology Doctor.</p>
          <h4>
            Professional License: 11455489 <br />
            Professional License: 12103900
          </h4>

          <p>
            Internal Medicine, Universidad Autónoma de Coahuila <br />
            Endocrinology, Universidad Autónoma de Nuevo León
          </p>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="web-cont-img-team mb-4">
          <img
            class="web-img-team"
            src="{% static 'website/img/liliana.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center">
        <div class="web-cont-img-team">
          <h4>Dra. Liliana Zertuche</h4>
          <p>Bachelor of Nutrition.</p>
          <h4>Professional License: 10974725</h4>

          <p>
            Bachelor's and Master's Degree in Clinical Nutrition, Universidad
            del Valle de México
          </p>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3">
        <div class="web-cont-img-team mb-4">
          <img
            class="web-img-team"
            src="{% static 'website/img/lore.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 d-flex align-items-center">
        <div class="web-cont-img-team">
          <h4>Dra. Lorena Fabián</h4>
          <p>Bachelor of Nutrition.</p>
          <h4>Professional License: 12809586</h4>

          <p>Bachelor's Degree in Nutrition and Food Sciences.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
