{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <!-- AOS JS -->
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
          duration: 600,
          once: true,
        });
      });
    </script>
    <script src="{% static 'website/js/main.js' %}"></script>
    <!-- CSS -->
    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <script
      src="https://kit.fontawesome.com/982c0f03a9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@300400500600700&display=swap"
      rel="stylesheet"
    />
    <title>NIETO BARIATRICS</title>
  </head>

  <body>
    <!--Top black navbar-->
    <div class="web-nav-black">
      <div class="container-fluid web-content-nav-black row m-auto">
        <div class="col-12 col-md-6 col-lg-6 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 col-md-12 col-lg-7 p-0">
              <a class="pl-1 pl-lg-0 text-nowrap" href="#"
                ><img
                  src="{% static 'website/img/location.svg' %}"
                  alt=""
                  width="18"
                />
                New City Medical Plaza, piso 25. Tijuana, B.C.</a
              >
            </div>
            <div class="col-12 col-md-12 col-lg-5 p-0">
              <a class="pl-1 pl-lg-0 text-nowrap"
                ><img
                  src="{% static 'website/img/clock.svg' %}"
                  alt=""
                  width="18"
                />
                Mon - Fri 8:00 - 20:00</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-12 col-md-6 col-lg-6 text-right p-0 d-none d-md-block d-lg-block"
        >
          <a class="mr-auto pr-3" href="tel:+16199049303"
            ><img src="{% static 'website/img/usa.svg' %}" alt="" width="18" />
            (+1) 619 904 9303</a
          >

          <a class="mr-auto" href="tel:+526647569466"
            ><img src="{% static 'website/img/mx.svg' %}" alt="" width="18" />
            (+52) 664 756 9466</a
          >
        </div>
      </div>
    </div>

    <div class="container-fluid web-nav-fixed pt-0 pt-lg-3 px-0">
      <div class="container web-container p-0">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg p-2">
          <a class="navbar-brand" href="/"
            ><img
              src="{% static 'website/img/logotipo.png' %}"
              alt=""
              width="180"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img src="{% static 'website/img/menu.svg' %}" alt="" width="30" />
          </button>
          <div
            class="collapse navbar-collapse web-collapse-navbar"
            id="navbarText"
          >
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link web-nav-link" href="about">About us</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle web-nav-link"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  Procedures
                </a>
                <div class="dropdown-menu web-dropdown-menu">
                  <a
                    class="dropdown-item web-dropdown-item"
                    href="/gastric-sleeve"
                  >
                    <img
                      class="mr-2 mr-lg-4"
                      src="{% static 'website/img/sleeve.png' %}"
                      alt=""
                      width="35"
                    />
                    Gastric Sleeve</a
                  >
                  <a
                    class="dropdown-item web-dropdown-item"
                    href="/endoscopicsleeve.php"
                  >
                    <img
                      class="mr-2 mr-lg-4"
                      src="{% static 'website/img/banding.png' %}"
                      alt=""
                      width="35"
                    />
                    Endoscopic Gastric Sleeve
                  </a>
                  <a
                    class="dropdown-item web-dropdown-item"
                    href="/gastricballon.php"
                  >
                    <img
                      class="mr-2 mr-lg-4"
                      src="{% static 'website/img/ballon.png' %}"
                      alt=""
                      width="35"
                    />
                    Gastric Ballon</a
                  >
                  <a
                    class="dropdown-item web-dropdown-item"
                    href="/gastricbypass.php"
                  >
                    <img
                      class="mr-2 mr-lg-4"
                      src="{% static 'website/img/minigastric.png' %}"
                      alt=""
                      width="35"
                    />
                    One Anastomosis Gastric Bypass
                  </a>
                  <a
                    class="dropdown-item web-dropdown-item"
                    href="/bypassyderoux.php"
                    ><img
                      class="mr-2 mr-lg-4"
                      src="{% static 'website/img/roux.png' %}"
                      alt=""
                      width="35"
                    />
                    Bypass en Y de Roux
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link web-nav-link" href="/travel">Travel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link web-nav-link" href="/#contact-us"
                  >Contact us</a
                >
              </li>

              <li>
                <div class="web-cont-icon-socialmedia ml-3 py-0">
                  <a href="{{ social.facebook }}" target="_blank"
                    ><img
                      class="web-icon-socialmedia"
                      src="{% static 'website/img/facebook.svg' %}"
                      alt=""
                    />
                  </a>
                  <a href="{{ social.instagram }}" target="_blank">
                    <img
                      class="web-icon-socialmedia"
                      src="{% static 'website/img/instagram.svg' %}"
                      alt=""
                    />
                  </a>
                  <a href="{{ social.tiktok }}" target="_blank">
                    <img
                      class="web-icon-socialmedia"
                      src="{% static 'website/img/tiktok.svg' %}"
                      alt=""
                    />
                  </a>
                  <a href="{{ social.whatsapp }}" target="_blank">
                    <img
                      class="web-icon-socialmedia"
                      src="{% static 'website/img/wsp.svg' %}"
                      alt=""
                    />
                  </a>
                </div>
              </li>
            </ul>
            <div class="d-flex">
              <a href="/contact.php"
                ><button class="web-btn-contact btn">
                  Schedule an appointment
                </button>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!--Content-->
    {% block content %} {% endblock %}

    <!--Footer-->
    <footer class="nav-nb text-white pt-5 pb-3 text-left pl-5">
      <div class="container-fluid">
        <div class="row pb-5">
          <div class="col-md-3 mb-4 mb-md-0 mt-3">
            <h5 class="mb-4">Contact Us</h5>
            <div class="mb-3">
              <p class="mb-1">
                New City Hospital, 16th Floor #1608 Tijuana, Baja California,
                Mexico
              </p>
            </div>
            <div>
              <p class="mb-1">US:(+1) 619 904 9303</p>
              <p class="mb-0">MX:(+52) 664 756 9466</p>
            </div>
          </div>
          <div class="col-md-4 offset-md-1 mt-3">
            <h5 class="mb-4">More Info</h5>
            <ul class="list-unstyled">
              <li class="mb-2">
                <a
                  href="/services.php"
                  class="text-white-70 text-decoration-none"
                  >Services</a
                >
              </li>
              <li class="mb-2">
                <a href="/about.php" class="text-white-50 text-decoration-none"
                  >About Us</a
                >
              </li>
              <li class="mb-2">
                <a href="/faq.php" class="text-white-50 text-decoration-none"
                  >FAQ</a
                >
              </li>
              <li class="mb-2">
                <a
                  href="/testimonials.php"
                  class="text-white-50 text-decoration-none"
                  >Testimonials</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-4 mt-3">
            <h5 class="mb-4">Stay Connected</h5>
            <div class="d-flex web-cont-icon-socialmedia">
              <a href="{{ social.facebook }}" target="_blank" class="mr-3">
                <img
                  class="social-icon-modern"
                  src="{% static 'website/img/facebook.svg' %}"
                  alt="Facebook"
                />
              </a>
              <a href="{{ social.instagram }}" target="_blank" class="mr-3">
                <img
                  class="social-icon-modern"
                  src="{% static 'website/img/instagram.svg' %}"
                  alt="Instagram"
                />
              </a>
              <a href="{{ social.tiktok }}" target="_blank" class="mr-3">
                <img
                  class="social-icon-modern"
                  src="{% static 'website/img/tiktok.svg' %}"
                  alt="TikTok"
                />
              </a>
              <a href="{{ social.youtube }}" target="_blank">
                <img
                  class="social-icon-modern"
                  src="{% static 'website/img/youtube.svg' %}"
                  alt="YouTube"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row pt-4 align-items-center">
          <div class="col-md-6 text-center text-md-left">
            <p class="small text-white-50 mb-0">
              Copyright 2025 - Nieto Bariatric.
            </p>
          </div>

          <div class="col-md-6 text-center text-md-right mt-3 mt-md-0">
            <a
              href="#top"
              class="text-white-50 text-decoration-none medium text-uppercase font-weight-bold"
            >
              <span class="h5 m-0 align-middle">↑</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
