{% extends "base.html" %} {% block content %} {% load static %}
<!--Hero container-->
<div class="web-hero-container">
  <div class="container web-container">
    <div class="row">
      <div class="col-12 d-block d-lg-none">
        <div class="web-cont-icon-socialmedia web-icon-header-m">
          <a href="{{ social.facebook }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/facebook.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.instagram }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/instagram.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.tiktok }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/tiktok.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.whatsapp }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/wsp.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="web-txt-hero-contain p-banner">
          <div>
            <h1 class="text-nowrap">
              Metabolic & Bariatric <br />
              Surgery
            </h1>
            <p>By your side on your journey to a new beginning, <br /></p>
            <a href="?site=candidates"
              ><button class="web-btn-hero btn">
                SCHEDULE AN APPOINTMENT
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="d-flex align-items-end">
          <div
            class="web-img-hero"
            style="
              background-image: url('{% static 'website/img/nietodoc.png' %}');
            "
          ></div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-2">
        <div class="web-cont-web-card-circle d-none d-lg-block">
          <div>
            <div class="row p-banner">
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <img
                      src="{% static 'website/img/award.svg' %}"
                      alt=""
                      width="25"
                    />
                    <p>
                      Certified <br />
                      Doctor
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <h3>6+</h3>
                    <p>
                      Years of <br />
                      experience
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <h3>100%</h3>
                    <p>Committed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Procedures-->
<div class="container-fluid web-cont-card-procedures">
  <div class="container web-container p-0">
    <div class="row p-0">
      <div class="col-12 text-center web-txt-center web-mb-80">
        <h1>Procedures</h1>
        <p>Your health is our #1 priority</p>
      </div>
      <a href="?site=gastricsleeve">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/sleeve.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-0 pb-md-2 pb-lg-2">GASTRIC SLEEVE</h4>
                <p class="d-sm-block d-none pb-4">
                  A Gastric sleeve is a bariatric surgery procedure whose
                  primary function is to facilitate intake restriction by
                  permanently reducing the volume of a patient’s stomach.
                  <br /><br />

                  Removing a major portion of the stomach leads to a significant
                  reduction in gastric volume, as well as reduction of the
                  ghrelin hormone – which results in increased satiety and
                  decreased appetite.
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="?site=endoscopicsleeve">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/sleeve.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-0 pb-md-2 pb-lg-2">ENDOSCOPIC GASTRIC SLEEVE</h4>
                <p class="d-sm-block d-none">
                  An Endoscopic Gastric Sleeve is a newer type of minimally
                  invasive weight-loss procedure. In endoscopic sleeve
                  gastroplasty, a suturing device is inserted into your throat
                  and down to your stomach. <br />
                  <br />
                  The endoscopist then places sutures in your stomach to make it
                  smaller. This procedure may be an option if you're
                  significantly overweight — a body mass index of 30 or more —
                  and diet and exercise haven't worked for you.
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="?site=gastricballon">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/ballon.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">GASTRIC BALLOON</h4>
                <p class="d-sm-block d-none">
                  A Gastric Balloon is a form of non-surgical management of
                  obesity. It has the advantage of being less invasive,
                  temporary, reversible, cheaper, and is an outpatient
                  procedure. <br /><br />

                  Gastric Balloon systems use an inflatable balloon, usually
                  saline or air, to restrict the stomach’s capacity, thereby
                  making the patient feel fuller faster. The duration for most
                  gastric balloons is typically six months to 12 months.
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="?site=gastricbypass">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/minigastric.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">ONE ANASTOMOSIS GASTRIC BYPASS</h4>
                <p class="d-sm-block d-none">
                  Gаѕtriс Bураѕѕ Surgеrу, also called mini-bypass or BAGUA, is a
                  рrосеѕѕ in which the ѕtоmасh is mаdе smaller in оrdеr tо
                  rеduсе thе individual’s caloric intаkе аnd рrоmоtе significant
                  weight loss, creating a small pouch from the stomach and
                  connecting the newly created pouch directly to the lower part
                  of the small intestine, resulting in malabsorption and
                  restrictive function. <br />
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="?site=bypassyderoux">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/roux.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">Roux-en-Y gastric bypass</h4>
                <p class="d-sm-block d-none">
                  Roux-en-Y is the classic bypass, a type of weight-loss surgery
                  that involves two anastomosis, one creating a small pouch from
                  the stomach and connecting the newly created pouch directly to
                  the small intestine at the 150 cm mark, and the second one
                  attaching the small intestine 100 cm further, in order to
                  avoid duodenogastric reflux. <br /><br />
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="?site=bypassyde2">
        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 text-center">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/roux.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">Another bypass</h4>
                <p class="d-sm-block d-none">
                  Roux-en-Y is the classic bypass, a type of weight-loss surgery
                  that involves two anastomosis, one creating a small pouch from
                  the stomach and connecting the newly created pouch directly to
                  the small intestine at the 150 cm mark, and the second one
                  attaching the small intestine 100 cm further, in order to
                  avoid duodenogastric reflux. <br /><br />
                </p>
                <div class="web-txt-center">
                  <a href="/gastric-sleeve"
                    ><button class="btn web-btn-default">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--Travel section-->
<div class="container web-container pt-5 pb-5">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-5 px-4 px-lg-0">
      <div class="web-txt-left">
        <h1>Visiting from Abroad?</h1>
        <br />
        <p>
          Many of our patients come from the United States and Canada. We offer
          support with scheduling, travel info, and local recommendations to
          make your visit simple and comfortable.
        </p>
        <div class="text-center">
          <a href="/travel"
            ><button class="web-btn-default btn">Learn More</button></a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-7">
      <div class="row m-0" style="width: 100%">
        <div class="col-4 col-md-4 col-lg-4 text-center">
          <div
            class="web-img-circle mx-auto"
            style="
              background-image: url('{% static 'website/img/transporte.jpg' %}');
            "
          ></div>
          <div class="web-txt-card-procedures p-0 pt-3"><h4>TRAVEL</h4></div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 text-center">
          <div
            class="web-img-circle mx-auto"
            style="
              background-image: url('{% static 'website/img/hospedaje.jpg' %}');
            "
          ></div>
          <div class="web-txt-card-procedures p-0 pt-3"><h4>HOTEL</h4></div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 text-center">
          <div
            class="web-img-circle mx-auto"
            style="
              background-image: url('{% static 'website/img/documentacion.jpg' %}');
            "
          ></div>
          <div class="web-txt-card-procedures p-0 pt-3">
            <h4>DOCUMENTATION</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Patient Success Stories-->
<section class="container-fluid py-5 bg-light web-overlay-gradient">
  <div class="text-center web-txt-center-wht mb-4">
    <h1>Patient Sucess Stories</h1>
    <p>Discover the experiences of patients who trusted us with their care.</p>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-1.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-2.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-3.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-4.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-1.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-2.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-3.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-4.png' %}" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'website/img/patients/change-1.png' %}" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
</section>

<!--Our Patients’ Experiences-->
<section class="container-fluid py-5 bg-light">
  <div class="text-center web-txt-center mb-4 py-5">
    <h1>Our Patients’ Experience</h1>
    <p>
      Every review tells a story — of care, confidence, and transformation.
      Here’s what our patients have to say about their journey with us.
    </p>
  </div>

  <div class="row gy-5 gx-4">
    <!-- Review Card -->
    <div class="col-md-4 mb-4" data-aos="fade-up">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">María G.</h6>
          <small class="text-muted">Oct 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          Excellent care and attention. The staff made me feel comfortable the
          entire time. Highly recommended!
        </p>
      </div>
    </div>

    <!-- Repeat 8 more -->
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">John D.</h6>
          <small class="text-muted">Sep 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★☆</div>
        <p class="text-muted mb-0">
          Everything went smoothly and professionally. I came from the U.S. and
          it was worth it!
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Ana R.</h6>
          <small class="text-muted">Aug 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          I was nervous at first, but the doctor explained everything clearly.
          The results are amazing!
        </p>
      </div>
    </div>

    <!-- Add 6 more placeholders to fill the 3x3 -->
    <div class="col-md-4" data-aos="fade-up">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Carlos T.</h6>
          <small class="text-muted">Jul 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          Friendly staff and top-quality care. Would definitely come back.
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Sophie M.</h6>
          <small class="text-muted">Jun 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★☆</div>
        <p class="text-muted mb-0">
          Very professional and organized. Everything exceeded my expectations.
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Luis V.</h6>
          <small class="text-muted">May 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          Super clean facilities and excellent attention from everyone.
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Emily P.</h6>
          <small class="text-muted">Apr 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          Amazing experience from start to finish. Highly recommend to anyone
          traveling for treatment!
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Ricardo F.</h6>
          <small class="text-muted">Mar 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★☆</div>
        <p class="text-muted mb-0">
          Quick, clear, and honest service. They really care about their
          patients.
        </p>
      </div>
    </div>

    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
      <div class="review-card p-4 bg-white rounded-3 shadow-sm h-100">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 fw-bold">Jessica K.</h6>
          <small class="text-muted">Feb 2025</small>
        </div>
        <div class="text-warning mb-2">★★★★★</div>
        <p class="text-muted mb-0">
          The doctor was very professional and the team made me feel safe at all
          times.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-4 col-md-4 text-center">
      <img
        class="w-50 mt-5"
        src="{% static 'website/img/google-reviews.png' %}"
      />
      <br />
      <button class="web-btn-default btn mt-5">Review us on Google</button>
    </div>
  </div>
</section>

<!--Hospital section-->
<div class="container-fluid pt-5" id="facilities">
  <div class="container">
    <div class="row">
      <div class="col-12 web-txt-left web-mb-80 pb-0">
        <h1>Where we operate</h1>
        <p>
          We work with trusted hospitals and surgical centers in Tijuana to
          ensure your comfort, safety, and the highest quality of care during
          your procedure.
        </p>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <div
            class="web-cont-hospital-img"
            style="background-image: url('{% static 'website/img/new.jpg' %}')"
          ></div>
          <div class="web-cont-hospital-info">
            <h4>New city medical plaza</h4>
            <p>Consultorio 1608 - Piso 16 <br />Tijuana, Baja California</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <div
            class="web-cont-hospital-img"
            style="
              background-image: url('{% static 'website/img/dreams.jpg' %}');
            "
          ></div>
          <div class="web-cont-hospital-info">
            <h4>Hospital Dreams</h4>
            <p>
              Gobernador Ibarra 9721, America, 22044 <br />Tijuana, Baja
              California
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Contact section-->
<div class="container-fluid gray-bg-section py-5" id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12 web-txt-left mb-4 web-mb-80 pb-0">
        <h1>Get in touch</h1>
        <p>
          Have a question or want to schedule an appointment? Fill out the form
          below and we’ll get back to you shortly.
        </p>
        <div class="web-container-contact">
          <form id="faq_form" action="?site=home" method="post">
            <input type="hidden" name="submitInfo" value="addNewFaq" />
            <div class="form-group web-label-form-group">
              <label for="inputNameFaq">*Name</label>
              <input
                type="text"
                class="form-control"
                name="inputNameFaq"
                id="inputNameFaq"
                placeholder=""
                required
              />
            </div>
            <div class="form-row">
              <div class="form-group web-label-form-group col-md-6">
                <label for="inputCountryFaq">*Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="inputNameFaq"
                  id="inputNameFaq"
                  placeholder=""
                  required
                />
              </div>
              <div class="form-group web-label-form-group col-md-6">
                <label for="inputPhoneFaq">Phone</label>
                <input
                  type="phone"
                  class="form-control"
                  id="inputPhoneFaq"
                  name="inputPhoneFaq"
                  required
                />
              </div>
            </div>
            <div class="form-group web-label-form-group">
              <label for="inputMailFaq">Reason for contact</label>
              <select class="form-control" id="reason" name="reason" required>
                <option value="" disabled selected></option>
                <option value="appointment">Schedule an Appointment</option>
                <option value="question">General Question</option>
                <option value="feedback">Feedback or Suggestion</option>
                <option value="international">
                  International Patient Inquiry
                </option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group web-label-form-group">
              <label for="QuestionFaq">Message</label>
              <textarea
                class="form-control"
                id="QuestionFaq"
                name="QuestionFaq"
                rows="3"
                required
              ></textarea>
            </div>
            <div class="web-txt-center">
              <br />
              <button type="submit" class="btn web-btn-default" id="sendFaq">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
