{% extends "base.html" %} {% block content %} {% load static %}
<!--Hero container-->
<div class="web-hero-container">
  <div class="container web-container">
    <div class="row">
      <div class="col-12 d-block d-lg-none">
        <div class="web-cont-icon-socialmedia web-icon-header-m">
          <a href="{{ social.facebook }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/facebook.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.instagram }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/instagram.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.tiktok }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/tiktok.svg' %}"
              alt=""
          /></a>
          <a href="{{ social.whatsapp }}" target="_blank"
            ><img
              class="web-icon-socialmedia"
              src="{% static 'website/img/wsp.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="web-txt-hero-contain p-banner">
          <div>
            <h1 class="main-text">
              Metabolic & Bariatric <br/>
              Surgery
            </h1>
            <p>By your side on your journey to a new beginning, <br/></p>
            <a href="?site=candidates"
              ><button class="web-btn-hero btn">
                SCHEDULE AN APPOINTMENT
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="d-flex align-items-end">
          <div
            class="web-img-hero"
            style="
              background-image: url('{% static 'website/img/nietodoc.png' %}');
            "
          ></div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-2">
        <div class="web-cont-web-card-circle d-none d-lg-block">
          <div>
            <div class="row p-banner">
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <img
                      src="{% static 'website/img/award.svg' %}"
                      alt=""
                      width="25"
                    />
                    <p>
                      Certified <br />
                      Doctor
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <h3>6+</h3>
                    <p>
                      Years of <br />
                      experience
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12 col-lg-12">
                <div class="web-card-circle mx-auto">
                  <div>
                    <h3>100%</h3>
                    <p>Committed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Procedures-->
<div class="container-fluid bg-sc-section">
  <div class="container">
    <div class="row gy-4 center-items">
      <div class="col-12 mb-5">
        <h1>Procedures</h1>
        <p>Your health is our #1 priority</p>
      </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/sleeve.png' %}');">
              </div>
          </div>
          <div class="col-6 col-md-12 col-lg-12 p-0">
            <div class="web-txt-card-procedures">
              <h4 class="pb-0 pb-md-2 pb-lg-2">GASTRIC SLEEVE</h4>
              <p class="d-sm-block d-none pb-4">
                  A Gastric sleeve is a bariatric surgery procedure whose
                  primary function is to facilitate intake restriction by
                  permanently reducing the volume of a patient’s stomach.
                  <br /><br />

                  Removing a major portion of the stomach leads to a significant
                  reduction in gastric volume, as well as reduction of the
                  ghrelin hormone – which results in increased satiety and
                  decreased appetite.
                </p>
                <br>
                <div class="center-items">
                  <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/sleeve.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-0 pb-md-2 pb-lg-2">ENDOSCOPIC GASTRIC SLEEVE</h4>
                <p class="d-sm-block d-none">
                  An Endoscopic Gastric Sleeve is a newer type of minimally
                  invasive weight-loss procedure. In endoscopic sleeve
                  gastroplasty, a suturing device is inserted into your throat
                  and down to your stomach. <br />
                  <br />
                  The endoscopist then places sutures in your stomach to make it
                  smaller. This procedure may be an option if you're
                  significantly overweight — a body mass index of 30 or more —
                  and diet and exercise haven't worked for you.
                </p>
                <div class="center-items">
                   <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/ballon.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">GASTRIC BALLOON</h4>
                <p class="d-sm-block d-none">
                  A Gastric Balloon is a form of non-surgical management of
                  obesity. It has the advantage of being less invasive,
                  temporary, reversible, cheaper, and is an outpatient
                  procedure. <br /><br />

                  Gastric Balloon systems use an inflatable balloon, usually
                  saline or air, to restrict the stomach’s capacity, thereby
                  making the patient feel fuller faster. The duration for most
                  gastric balloons is typically six months to 12 months.
                </p>
                <br>
                <br>
                <div class="center-items">
                   <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/minigastric.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">ONE ANASTOMOSIS GASTRIC BYPASS</h4>
                <p class="d-sm-block d-none">
                  Gаѕtriс Bураѕѕ Surgеrу, also called mini-bypass or BAGUA, is a
                  рrосеѕѕ in which the ѕtоmасh is mаdе smaller in оrdеr tо
                  rеduсе thе individual’s caloric intаkе аnd рrоmоtе significant
                  weight loss, creating a small pouch from the stomach and
                  connecting the newly created pouch directly to the lower part
                  of the small intestine, resulting in malabsorption and
                  restrictive function. <br />
                </p>
                <div class="center-items">
                    <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/roux.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">Roux-en-Y gastric bypass</h4>
                <p class="d-sm-block d-none">
                  Roux-en-Y is the classic bypass, a type of weight-loss surgery
                  that involves two anastomosis, one creating a small pouch from
                  the stomach and connecting the newly created pouch directly to
                  the small intestine at the 150 cm mark, and the second one
                  attaching the small intestine 100 cm further, in order to
                  avoid duodenogastric reflux. <br /><br />
                </p>
                 <div class="center-items">
                   <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="row web-card-procedures m-auto">
            <div class="col-6 col-md-12 col-lg-12 p-0 web-card-icon-procedures">
              <div
                class="web-card-icon-procedures"
                style="
                  background-image: url('{% static 'website/img/roux.png' %}');
                "
              ></div>
            </div>
            <div class="col-6 col-md-12 col-lg-12 p-0">
              <div class="web-txt-card-procedures">
                <h4 class="pb-2">Another bypass</h4>
                <p class="d-sm-block d-none">
                  Roux-en-Y is the classic bypass, a type of weight-loss surgery
                  that involves two anastomosis, one creating a small pouch from
                  the stomach and connecting the newly created pouch directly to
                  the small intestine at the 150 cm mark, and the second one
                  attaching the small intestine 100 cm further, in order to
                  avoid duodenogastric reflux. <br /><br />
                </p>
                <div class="center-items">
                   <a href="/gastric-sleeve"
                    ><button class="btn btn-nb-main">LEARN MORE</button></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!--Travel section-->
   <section>
      <div class="container-fluid bg-wh-section pt-5">
        <div class="container">
          <div class="row align-items-center g-4">
            <div class="col-12 col-md-6">
              <div class="section-title travel-title">
                <h1>Visiting from Abroad?</h1>
                <p class="pt-4">
                  Many of our patients come from the United States and Canada.
                  We offer support with scheduling, travel info, and local
                  recommendations to make your visit simple and comfortable.
                </p>
                <div class="center-items pb-5">
                  <a href="/travel" class="btn btn-nb-main">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 text-center">
              <div class="travel-image">
                <div class="row text-center g-4">
                  <div class="col-4 col-md-4">
                    <img
                      src="{%static 'website/img/transporte.jpg' %}"
                      alt="Travel"
                      class="img-fluid rounded-circle circle-img"
                    />
                    <h4 class="mt-2">Travel</h4>
                  </div>

                  <div class="col-4 col-md-4">
                    <img
                     src="{% static 'website/img/hospedaje.jpg' %}"
                      alt="Travel"
                      class="img-fluid rounded-circle circle-img"
                    />
                    <h4 class="mt-2">Hotel</h4>
                  </div>

                  <div class="col-4 col-md-4">
                    <img
                      src="{% static 'website/img/documentacion.jpg' %}"
                      alt="Travel"
                      class="img-fluid rounded-circle circle-img"
                    />
                    <h4 class="mt-2">Documentation</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Patient Success Stories-->

<!--Google Reviews-->
    <section class="googleReviewSection py-5">
      <div class="container-fluid">
        <div class="container">
          <!-- Section Header -->
          <div class="text-center mb-5 px-4">
            <h1>Our Patients’ Experience</h1>
            <p class="mt-2">
              Every review tells a story — of care, confidence, and
              transformation. Here’s what our patients have to say about their
              journey with us.
            </p>
          </div>

          <!-- Reviews Grid -->
          <div class="row g-4 align-items-stretch">
            <!-- Review Card -->
            <div class="col-12 col-md-3">
              <div
                class="card h-100 d-flex flex-column text-center p-4 shadow-sm"
              >
                <!-- Google Badge -->
                <div
                  class="mb-3 d-flex justify-content-center align-items-center"
                  style="height: 40px"
                >
                  <i class="fa-brands fa-google fa-beat fs-4 text-primary"></i>
                </div>

                <!-- Stars -->
                <div class="mb-3">
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                </div>

                <!-- Review Text -->
                <p class="small text-justify flex-grow-1">
                  Dr. Nieto is a certified Bariatric specialist, I couldn’t be
                  happier with my results! Dr. Nieto and his team are very
                  professional, knowledgeable, kind, the best customer service,
                  worth every penny! I had a very good experience with my
                  process.
                </p>

                <!-- Reviewer -->
                <div>
                  <div class="fw-bold small">Marcela Cisneros</div>
                  <div class="small text-muted">4 months ago</div>
                </div>
              </div>
            </div>

            <!-- Review Card -->
            <div class="col-12 col-md-3">
              <div
                class="card h-100 d-flex flex-column text-center p-4 shadow-sm"
              >
                <div
                  class="mb-3 d-flex justify-content-center align-items-center"
                  style="height: 40px"
                >
                  <i class="fa-brands fa-google fa-beat fs-4 text-primary"></i>
                </div>

                <div class="mb-3">
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                </div>

                <p class="small text-justify flex-grow-1">
                  Amazing experience from start to finish. The staff was always
                  available to answer my questions and guide me through the
                  process. I felt supported every step of the way.
                </p>

                <div>
                  <div class="fw-bold small">Luis Hernández</div>
                  <div class="small text-muted">6 months ago</div>
                </div>
              </div>
            </div>

            <!-- Review Card -->
            <div class="col-12 col-md-3">
              <div
                class="card h-100 d-flex flex-column text-center p-4 shadow-sm"
              >
                <div
                  class="mb-3 d-flex justify-content-center align-items-center"
                  style="height: 40px"
                >
                  <i class="fa-brands fa-google fa-beat fs-4 text-primary"></i>
                </div>

                <div class="mb-3">
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b"></i>
                </div>

                <p class="small text-justify flex-grow-1">
                  Excellent care and outstanding results. The professionalism
                  and kindness of the entire team exceeded my expectations. I
                  would absolutely recommend them.
                </p>

                <div>
                  <div class="fw-bold small">Ana Rodríguez</div>
                  <div class="small text-muted">8 months ago</div>
                </div>
              </div>
            </div>

            <!-- Google CTA -->
            <div
              class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center text-center"
            >
              <img
                src="{% static 'website/img/google-reviews.png' %}"
                class="w-50 mb-3"
                alt="Google Reviews"
              />
              <a href="#">  <button class= "mt-3 btn btn-nb-main">
                Review us on Google
              </button> </a>
             
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Hospital section-->
    <section>
      <div class="container-fluid pt-5" id="facilities">
        <div class="container">
          <!-- Section header -->
          <div class="row mb-5">
            <div class="col-12 center-items">
              <h1>Where we operate</h1>
              <p class="text-muted">
                We work with trusted hospitals and surgical centers in Tijuana
                to ensure your comfort, safety, and the highest quality of care
                during your procedure.
              </p>
            </div>
          </div>

          <!-- Hospital -->
          <div class="row align-items-center g-4 mb-5">
            <!-- Images -->
            <div class="col-12 col-lg-7">
              <div class="row g-3">
                <div class="col-12">
                  <div
                    class="ratio ratio-16x9 rounded-3 overflow-hidden shadow-sm"
                  >
                    <img
                      src="../website/static/website/img/dreams.jpg"
                      class="w-80 h-80 object-fit-cover"
                      alt="Hospital Dreams"
                    />
                  </div>
                </div>

                <!-- Extra images -->
                <div class="col-6">
                  <div
                    class="ratio ratio-1x1 rounded-3 overflow-hidden shadow-sm"
                  >
                    <img
                      src="../website/static/website/img/dreams.jpg"
                      class="w-40 h-40 object-fit-cover"
                      alt="Hospital Room"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div
                    class="ratio ratio-1x1 rounded-3 overflow-hidden shadow-sm"
                  >
                    <img
                      src="../website/static/website/img/dreams.jpg"
                      class="w-40 h-40 object-fit-cover"
                      alt="Hospital Room"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- Info -->
            <div class="col-12 col-lg-5">
              <h4>Hospital Dreams</h4>
              <p class="mb-2">
                Gobernador Ibarra 9721, America, 22044<br />
                Tijuana, Baja California
              </p>

              <ul class="list-unstyled small text-muted">
                <li>✔ Accredited surgical facility</li>
                <li>✔ Modern operating rooms</li>
                <li>✔ ICU & recovery areas</li>
                <li>✔ Bilingual medical staff</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Contact section-->
   <section>
      <div class="container-fluid bg-sc-section py-5" id="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-4 web-mb-80 pb-0">
              <h1>Get in touch</h1>
              <p>
                Have a question or want to schedule an appointment? Fill out the
                form below and we’ll get back to you shortly.
              </p>
                <form method="post">
                  {% csrf_token %}

                  <!-- Name -->
                  <div class="mb-3">
                    <label for="contactName" class="form-label">*Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="contactName"
                      id="contactName"
                      required
                    />
                  </div>

                  <!-- Email / Phone -->
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="contactEmail" class="form-label"
                        >*Email</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        name="contactEmail"
                        id="contactEmail"
                        required
                      />
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="contactPhone" class="form-label">Phone</label>
                      <input
                        type="tel"
                        class="form-control"
                        id="contactPhone"
                        name="contactPhone"
                      />
                    </div>
                  </div>

                  <!-- Reason -->
                  <div class="mb-3">
                    <label for="contactReason" class="form-label">
                      Reason for contact
                    </label>
                    <select
                      class="form-control"
                      id="contactReason"
                      name="contactReason"
                      required
                    >
                      <option value="" disabled selected></option>
                      <option value="appointment">
                        Schedule an Appointment
                      </option>
                      <option value="question">General Question</option>
                      <option value="feedback">Feedback or Suggestion</option>
                      <option value="international">
                        International Patient Inquiry
                      </option>
                      <option value="other">Other</option>
                    </select>
                  </div>

                  <!-- Message -->
                  <div class="mb-3">
                    <label for="contactMessage" class="form-label"
                      >Message</label
                    >
                    <textarea
                      class="form-control"
                      id="contactMessage"
                      name="contactMessage"
                      rows="3"
                      required
                    ></textarea>
                  </div>

                  <!-- Submit -->
                  <div class="center-items">
                    <button
                      type="submit"
                      class="btn btn-nb-main"
                    >
                      Send Message
                    </button>

                    <!-- Errors -->
                    {% if form.contactName.errors %}
                    <div class="text-danger mt-2">
                      {{ form.contactName.errors }}
                    </div>
                    {% endif %} {% if form.contactEmail.errors %}
                    <div class="text-danger mt-2">
                      {{ form.contactEmail.errors }}
                    </div>
                    {% endif %} {% if form.contactPhone.errors %}
                    <div class="text-danger mt-2">
                      {{ form.contactPhone.errors }}
                    </div>
                    {% endif %} {% if form.contactReason.errors %}
                    <div class="text-danger mt-2">
                      {{ form.contactReason.errors }}
                    </div>
                    {% endif %} {% if form.contactMessage.errors %}
                    <div class="text-danger mt-2">
                      {{ form.contactMessage.errors }}
                    </div>
                    {% endif %}

                    <!-- Success -->
                    {% if success %}
                    <div class="alert alert-success mt-3">
                      Message sent successfully
                    </div>
                    {% endif %}
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock%}
